body{
    font-family: "Inter", sans-serif;
   
}
nav{
    background-color: #ffffff;
     max-width: 1600px; 
    
    
    width:fit-content 100%;
    height: 92px;
    display: flex;
    padding: 16px 50px ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
ul{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    /* width: 365px; */
    height: 24px;
    gap: 32px;
    color:#000000;
    
    
}
ul a{
    text-decoration: none;
    color:#000000;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
*{
    margin: 0px;
    padding: 0%;
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color:#30B868;
    border-radius: 4px ;
    border: none;
    
    

    list-style-type: none;
    gap: 7px;
    width: 164px;
    height: 44px;


    
}
.button:hover{
    background: #627362;
}
.butom{
    width: 132px;
    height: 19px;
    color: #FFFFFF;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-style:Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform:capitalize ;

}
.butom:hover{
    background: #627362;
}


.pic { 
    
    background: url(./assets/hero-bg.png);
    height: 674px;
    max-width: 1600px;
    width: fit-content 100%;
}
.nowopen{
     position: absolute; 
    background-color: #ffffff;
     transform:translate(-50%,-50%); 
    top:40%;
    left: 50%;
    width: 229px;
    height: 20px;
    justify-content:  center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 1000px;
    display: flex;
}
.letter{
    justify-content:space-between;
    align-items: center;
      
    
    height: 19px;
    color: #30B868;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-style: medium;
    font-size: 16px;
    font-weight: 500px;
    line-height: 100px;
    text-align: center;
    display: flex;
    /* flex-direction: row; */
    gap: 1px;


}
.inner{
    background-color: #098171fb;
    width: 6px;
    height: 6px;
    
     
      
    border-radius: 50%;
    
    
    
}
.middle{
    width: 12px;
    height: 12px;
    background-color: #9fceb2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{width: 17px;
    height:17px ;
    border-radius: 50%;
    background-color: #d0f0dd;
    display: flex;
    justify-content: center;
    align-items: center;

}
.stru{
    color: #FFFFFF;
     top: 50%; 
    left: 27%; 
    position: absolute;
    font-style: bold;
     /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    
    
}
    
.notjust{
    color:rgba(48, 184, 104, 1) ;
    position: absolute;
    font-style: bold;
    font-size:72px ;
    font-weight: 700;
    line-height: 84px;
    
     left: 25%; 
    top: 65%; 
    font-size: 72px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, */
    

}
.liword{
    color: #FFFFFF;
    position: absolute;
    top: 80%;
    left:30% ;
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}
.liword2{
    color: #FFFFFF;
    position: absolute;
    top: 85% ;
    left: 28%;
      font-size:18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.picbutton{
    background-color: #30B868;
    color: #FFFFFF;
    width: 251px;
    height: 52px;
    position: absolute;
    top:93% ;
    left: 34%;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    
}
.picbutton:hover{
    background: #627362;
}
.picbutton2{
    background-color: #251c1c;
    display: flex;
    position: absolute;
    top: 93%;
    left: 54%;
    flex-direction: row;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    width: 198px;
    height: 52px;
    gap:10;
    padding: 12px 16px;
    color: #FFFFFF;
    
}
.picbutton2:hover{
    background: #627362;
    
}
.play{
    height: 15px;
    width: 20px;
    
}
.see{
    width: 136px;
    height: 19px;
    font-style: semi bold;
    font-size: 16px ;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}
/* #..card....{
     background:#f8fafc;
} */

.bigletter{
    /* padding: 0 120px 120px 120px; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 40px;
    font-weight:700;
    font-style: bold;
    font-size: 48px;
    line-height: 58px;
    /* position: absolute; */
    /* top: 140%; */
    /* left: 26%; */
    /* display: flex; */
    /* flex-direction: row; */
     max-width: 1360px;
     width: fit-content 100%;
    /* height: 116px; */
    text-align: center;
    text-transform: capitalize;

}
.abc{
    /* position: absolute; */
    left: 29%;
    top: 152%;
    max-width: 1360px;
    width: fit-content 100%;
    /* height: 20px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.card-container{
    display: flex;
    
    justify-content: center;
    max-width:1360px;
    /* height: 300px; */

    /* flex-wrap: wrap; */
    /* position: absolute; */
    top: 160%;
    margin-right: 120px;
    margin-left: 120px;
    
    
}
.card{
    background:#FFFFFF;
   max-width: 322px;
   gap: 24;
   align-items: flex-start;
    
    /* padding: 24px; */
    border-radius: 8px;
    /* box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.06); */
    max-height: 300px;
    
    /* radius:8px; */
    
    margin: 15px;
    margin-bottom: 0%;
    justify-content: center;
    /* border: #30B868 1px solid; */
    padding: 16px;
    /* box-shadow: 0 28px 40px  rgba(0.12, 0, 0, 0); */
    border: 1px solid rgba(0,0,0,0.04);
}
    
.icon{
    background-color: red;
    width: 20px;
    height: 20px;
    margin-left: 77px;
    margin-top: 60px;
    display: flex;
    padding: 16px;
    border-radius: 100%;

}
.cardbigletter{
    padding-top: 16px;
    color: #001931;
    font-style: semi bold;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    /* line-height: 29px; */
    text-align: center;
    /* text-transform: capitalize; */
}
.cardlittleletter{
    color: #627362;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
.fullcontriner{
    /* align-items: center; */
    padding: 120px;
    display: flex;
    
}
.brainimg{
    width: 600px;
    height: 600px;
    /* position: absolute; */
    top: 225%;
}
.content{
    margin-left: 60px;
    margin-top: 102px;
}
.label{
    color: #30B868;
    margin-top: 1px;
    /* align-items: flex-start; */

}
.check{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align:left;
    
}
.lastpagecontainer{
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    background-color: #F7F6F2;
    padding: 80px 40px;
}
.lastbutton{  background-color: #30B868;
    color: #FFFFFF;
    width: 194px;
    /* height: 52px; */
    /* position: absolute; */
    /* top:93% ; */
    /* left: 34%; */
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    margin-left: 425px;
    
    

}
.lastbutton:hover{
    background: #627362;
    
}
.headerline{
    color: #001931;
    font-style: bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
}
.joinlittleletter{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.freetext{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.footer{
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
    
    
    display: flex;
    justify-content: space-between;
    background-color: #011931;
}
.socialletter{
    color: #FFFFFF;
}
.socialpic{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
}

.socialpiccontrainer{
    display: flex;
}
.iconsocial{
    background-color: #F7F6F2;
    padding: 2px;
    border-radius: 50%;

    
}
.lastline{
    padding-top: 104px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 30px;
    color: #FFFFFF;
    text-align: center;
    background-color: #001931;
}