body{
    font-family: "Inter", sans-serif;
}
nav{
    background-color: #ffffff;
     max-width: 1600px; 
    
    
    width:fit-content 100%;
    height: 92px;
    display: flex;
    padding: 16px 50px ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
ul{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    /* width: 365px; */
    height: 24px;
    gap: 32px;
    color:#000000;
    
    
}
ul a{
    text-decoration: none;
    color:#000000;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
*{
    margin: 0px;
    padding: 0%;
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color:#30B868;
    border-radius: 4px ;
    border: none;
    
    

    list-style-type: none;
    gap: 7px;
    width: 164px;
    height: 44px;

    
}
.butom{
    width: 132px;
    height: 19px;
    color: #FFFFFF;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-style:Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform:capitalize ;

}


.pic { 
    
    background: url(./assets/hero-bg.png);
    height: 674px;
    max-width: 1600px;
    width: fit-content 100%;
}
.nowopen{
     position: absolute; 
    background-color: #ffffff;
     transform:translate(-50%,-50%); 
    top:40%;
    left: 50%;
    width: 229px;
    height: 20px;
    justify-content:  center;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 1000px;
    display: flex;
}
.letter{
    justify-content:space-between;
    align-items: center;
      
    
    height: 19px;
    color: #30B868;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-style: medium;
    font-size: 16px;
    font-weight: 500px;
    line-height: 100px;
    text-align: center;
    display: flex;
    /* flex-direction: row; */
    gap: 1px;


}
.inner{
    background-color: #098171fb;
    width: 6px;
    height: 6px;
    
     
      
    border-radius: 50%;
    
    
    
}
.middle{
    width: 12px;
    height: 12px;
    background-color: #9fceb2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{width: 17px;
    height:17px ;
    border-radius: 50%;
    background-color: #d0f0dd;
    display: flex;
    justify-content: center;
    align-items: center;

}
.stru{
    color: #FFFFFF;
     top: 50%; 
    left: 27%; 
    position: absolute;
    font-style: bold;
     /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    
    
}
    
.notjust{
    color:rgba(48, 184, 104, 1) ;
    position: absolute;
    font-style: bold;
    font-size:72px ;
    font-weight: 700;
    line-height: 84px;
    
     left: 25%; 
    top: 65%; 
    font-size: 72px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, */
    

}
.liword{
    color: #FFFFFF;
    position: absolute;
    top: 80%;
    left:30% ;
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}
.liword2{
    color: #FFFFFF;
    position: absolute;
    top: 85% ;
    left: 28%;
      font-size:18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.picbutton{
    background-color: #30B868;
    color: #FFFFFF;
    width: 251px;
    height: 52px;
    position: absolute;
    top:93% ;
    left: 34%;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    
}
.picbutton2{
    background-color: #251c1c;
    display: flex;
    position: absolute;
    top: 93%;
    left: 54%;
    flex-direction: row;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    width: 198px;
    height: 52px;
    gap:10;
    padding: 12px 16px;
    color: #FFFFFF;
    
}
.play{
    height: 15px;
    width: 20px;
    
}
.see{
    width: 136px;
    height: 19px;
    font-style: semi bold;
    font-size: 16px ;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

